@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
:root {
    --primary: #2e8fdf;
    --primary-color: #08359d;
    --secondary: rgb(206, 214, 214);
    --text-color: rgb(253, 245, 245);
    --look-up-action: #1773c3;
    --animate-duration: 1s;
        --animate-delay: 1s;
        --animate-repeat: 1
}
* {
    font-family: 'Poppins', sans-serif !important;
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray);
    text-align: left;
    overflow-x: hidden !important;
    background-color: var(--light);
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scrollbar-color: var(--primary);
}
.box-shadow {
    box-shadow: 4px 4px 2px 1px var(--primary-color);
}

.bg-primary-default {
    background-color: var(--primary);
}

.fixed{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: var(--look-up-action) !important;
}

.top-0{
top: 0px;
}
.buttom-0{
bottom: 0px;
}

.mt-6{
    margin-top: 60px !important;
}
.game-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.option{
    border: solid var(--primary);
}
.bg-danger{
    background-color: rgba(255, 0, 0, 0.7) !important;
}

.bg-success {
    background-color: rgba(0, 128, 0, 0.7) !important;
}
.question{ font-family: 'Courier New', Courier, monospace; text-justify: distribute; text-align: justify; font-size: 1em; border: solid var(--primary) 1px; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 15px;
}
.explanation span,.question span{
    text-decoration: underline;
    font-weight: 900;
}
a{
    text-decoration: none !important;
}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-transform: capitalize;
    text-rendering: optimizeSpeed;
    font-size: 1.3em;
}

.row{
    justify-content: space-around !important;
}
.letter{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--text-color);
    font-family: monospace;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 3em;
}

.selected{
    font-size: 40px;
    color: var(--primary);
    padding: 2px;
}

.complete{
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
}